.message {
  border: 3px solid #000;
  max-width: 500px;
  margin: 50px auto 10px;
  padding: 25px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.message:hover::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
}


.message:hover::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
}
.messages__list {
  border: 3px solid #000;
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;

  margin-bottom: 10px;
}

.messages__list li {
  position: relative;
  font-size: 20px;
  padding-bottom: 5px;
}

.deleted::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
}

.deleted::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
}

.messages__form {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.messages__form input {
  border: 3px solid #000;
  width: 400px;
  padding: 10px;
}

.messages__form button {
  border: 3px solid #000;
  text-align: center;
  padding: 10px 20px;
}